.card{
    background-color :black;
    color :goldenrod;
    display: inline-block;
    /* display: flex; */
    padding: 15px;
    border: 2px solid greenyellow;

    h2{
        text-align: center;
    }

    p{
        text-align: center;
    }

    button{
        margin:auto;
    }

   
   
    
}